<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">

  <test thread-count="2" name="TestNg1" parallel="tests">
  <parameter name="BROWSER" value="chrome"/>
    <classes>
      <class name="com.amdocs.amazon.searchTest.RedirectedToTheDesiredPageTest"/>
    </classes>
  </test> <!-- TestNg -->
  
  <test thread-count="2" name="TestNg2" parallel="tests">
  <parameter name="BROWSER" value="firefox"/>
    <classes>
      <class name="com.amdocs.amazon.searchTest.RedirectedToTheDesiredPageTest"/>
    </classes>
  </test> 
</suite> <!-- Suite -->
